.CardWrapper {
  width: 25%;
  padding: 10px;
}

@media (max-width: 991px) {
  .CardWrapper {
    width: 33%;
  } 
}
@media (max-width: 767px) {
  .CardWrapper {
    width: 100%;
  }
}


.CardItem {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background: #fff;
  position: relative;

  &__btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #000;
    color: #fff;
  }
  &__btn::after {
    content: "x";
  }
  
  
  &__title {
    font-size: 18px;
    padding: 10px 15px;
  }

  &__poster {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__year, &__description {
    padding: 5px 15px;
    font-size: 14px;
  }

  &__genre ul {
    padding: 10px 15px;
    list-style: none;
    display: flex;
  }

  &__genre ul li {
    font-size: 14px;
    padding: 3px 6px;
    background: #ECEFF1;
    margin-right: 8px;
    border-radius: 5px;
    color: #455A64;
  }



}

  