.EditMovie {
    display: flex;
    align-items: center;
    gap: 20px;

    @media(max-width:767px) {
        flex-direction: column; 
    }

    &__left {
        width: 350px;

    }
    @media(max-width:767px) {
        &__left {
            width: 100%;
        }
     }

}