* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #ECEFF1;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.4;
    background:  #f7fafc;
    color: #455a64;
}

a {
    text-decoration: none;
    color: #0070ea;
}